{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form id="new_show_form" method="post" class="form" name="new_show_form" action="/shows/create">
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group">
        <label for="artist_id">Artist Name</label>
        <small>See artists details </small><a href="/artists">here.</a>
        <!-- {{ form.artist_id(class_ = 'form-control', autofocus = true) }} -->
        <select class="form-control" name="artist_id" form="new_show_form">
        {% for artist in artists %}
            <option value="{{artist.id}}">{{artist.name}}</option>
        {% endfor %}
        </select>

      </div>
      <div class="form-group">
        <label for="venue_id">Venue Name</label>
        <small>See venue details </small><a href="/venues">here.</a>
        <!-- {{ form.venue_id(class_ = 'form-control', autofocus = true) }} -->
        <select class="form-control" name="venue_id" form="new_show_form">
        {% for venue in venues %}
            <option value="{{venue.id}}">{{venue.name}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
          <label for="start_time">Start Time</label>
          <input name="start_time" class="form-control" type="datetime-local" id="birthdaytime" name="birthdaytime" autofocus>
        </div>
      <input type="submit" value="Create Show" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
